@font-face {
  font-family: "just_signatureregular";
  src: url("./fonts/justsignature-webfont.woff2") format("woff2"),
    /* local('Just Signature') format('woff2'), */
      url("./fonts/justsignature-webfont.woff") format("woff");
  /* local('Just Signature') format('woff'); */

  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 17vh;
  position: sticky;
  top: 0;
  background-color: white;
}

.title {
  /* font-family: "Clicker Script", cursive; */
  font-family: "just_signatureregular";
  color: rgb(240, 190, 186);
  padding-left: 3vw;
  padding-top: 5vh;
  /* outline: 1px solid black; */
  font-size: 2em;
}

.tabs {
  padding-right: 10px;
  align-self: flex-end;
}

.main {
  background-attachment: fixed;
  display: flex;
  height: 83vh;
  overflow: scroll;
}

.text {
  width: 65vw;
  font-size: 14px;
  padding: 20px;
}

.pic {
  /* border: 1px solid black; */
  width: 35vw;
  position: sticky;
  top: 0;
  padding: 20px;
  overflow: hidden;
}
